<html layout:decorate="~{global/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container mx-auto my-3">
    <h1 class="font-bold mb-2"> 홈</h1>
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
            <tr class="text-center">
                <th class="w-1/10">번호</th>
                <th class="w-7/12">제목</th>
                <th class="w-2/12">작성자</th>
                <th class="w-2/12">작성일시</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="post : ${posts}" class="hover text-center">
                <th th:text="${post.id}"></th>
                <td th:text="${post.title}" class="text-left"></td>
                <td th:text="${post.authorName}"></td>
                <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>