<!doctype html>
<html lang="ko" data-theme="light" xmlns:layout="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MEDIUM</title>

    <link rel="stylesheet" type="text/css" href="/global.css">
    <link href="https://jhs512.github.io/toastr/toastr.css" rel="stylesheet">

    <meta name="_csrf" th:content="${_csrf.token}"/>
</head>

<body>

<nav th:replace="~{global/navbar :: navbarFragment}"></nav>

<th:block layout:fragment="content"></th:block>

<!-- 테일윈드, 데이지UI -->
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css"/>
<!-- 제이쿼리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- toastr 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

<script src="/global.js"></script>

<script>
    const queryParams = getQueryParams();

    if (queryParams.msg) {
        toastNotice(queryParams.msg);
    }

    $(window).bind("pageshow", function (event) {
        const historyBackMsg = localStorage.getItem('historyBackMsg');

        if (historyBackMsg) {
            toastWarning(historyBackMsg);
            localStorage.removeItem('historyBackMsg');
        }
    });
</script>

</body>
</html>