<div th:fragment="navbarFragment" class="navbar bg-base-100 shadow">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/post/list">글 목록</a></li>
                <li th:unless="${@rq.logined}"><a href="/member/login">로그인</a></li>
                <li th:unless="${@rq.logined}"><a href="/member/join">회원가입</a></li>
                <li th:if="${@rq.logined}"><a href="/member/logout" method="POST">로그아웃</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl" href="/">Medium</a>
    </div>
    <div class="navbar-end gap-2">
        <a th:if="${!@rq.logined}" href="/member/login" class="px-4 py-2 bg-gradient-to-r from-beige-100 via-beige-200 to-primary-500 border border-gray-300 rounded-full text-blue-500 text-sm hover:bg-blue-600 hover:text-white">로그인</a>
        <span th:if="${@rq.logined}" class="text-primary" th:text="|${@rq.user.username} 님 환영합니다.|"></span>
        <div th:if="${@rq.logined}" class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </div>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a href="/post/myList">내 글 목록</a></li>
                <li><a href="/member/logout" method="POST">로그아웃</a></li>
            </ul>
        </div>
    </div>
</div>