<div th:fragment="navbarFragment" class="navbar bg-base-100 shadow-sm">
    <div class="flex-none">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/post/write"><i class="fa-regular fa-pen-to-square"></i>글 작성</a></li>
                <li><a href="/post/list"><i class="fa-solid fa-list-ul"></i>글 목록</a></li>
                <li th:unless="${@rq.logined}"><a href="/member/login"><i class="fa-regular fa-user"></i>로그인</a></li>
                <li th:unless="${@rq.logined}"><a href="/member/join"><i class="fa-solid fa-user-plus"></i>회원가입</a></li>
                <li th:if="${@rq.logined}"><a href="/member/logout" method="POST"><i class="fa-solid fa-door-open"></i>로그아웃</a></li>
            </ul>
        </div>
    </div>
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/">Medium</a>
    </div>
    <div class="flex-none gap-2">
        <a href="/post/write" class="px-4 py-2 rounded-full text-black-600 text-sm font-thin hover:bg-gray-100">
            <i class="fa-regular fa-pen-to-square mr-2"></i>글 작성</a>
        <a th:if="${!@rq.logined}" href="/member/login" class="px-4 py-2 border border-gray-200 rounded-full text-blue-600 text-xs hover:bg-blue-100 hover:border-none font-thin">
            <i class="fa-regular fa-user mr-2"></i>로그인</a>
        <span th:if="${@rq.logined}" class="text-primary text-sm" th:text="|${@rq.user.username} 님 환영합니다.|"></span>
        <div th:if="${@rq.logined}" class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full border border-gray-200">
                    <img src="/default-profile-image.png" />
                </div>
            </div>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a href="/post/myList"><i class="fa-solid fa-list-ul"></i>내 글 목록</a></li>
                <li><a href="/member/logout" method="POST"><i class="fa-solid fa-door-open"></i>로그아웃</a></li>
            </ul>
        </div>
    </div>
</div>